# Unit 18. Break, Continue

## 18.1 Break

In [1]:
import random

In [3]:
while True:
    i = random.randint(1,6)
    print(i)
    if i == 3:
        break

1
5
4
1
1
3

In [7]:
for i in  range(5):
    print(i, end=' ')
    for k in range(5):
        print('*', end='')
        if i==k:
            break

0 *1 **2 ***3 ****4 *****

In [8]:
for i in  range(5):
    print(i, end=' ')
    for k in range(5):
        print('*', end='')
        if i==k:
            break
    print()

0 *
1 **
2 ***
3 ****
4 *****

## 18.2 Continue

In [10]:
# 1~9까지 숫자중 i를 2로 나누었을때 나머지가 0이면 다시 윗단계로
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9