# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [3]:
for i in range(1, 6):
    for k in range(10, 60, 10):
        print(k, end=' ')
    print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 별 사각형

In [7]:
for i in range(5):
    for k in range (5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [11]:
# 평행사변형
for i in range(4):
    for k in range(0, i):
        print(' ', end='')
    for _ in range(5):
        print('*', end='')
    print()

*****
 *****
  *****
   *****

In [14]:
# 출력되지 않음
for i in range(0, 0):
    print('*')

In [15]:
for i in range(4):
    print(' '*i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식 별 모양

In [16]:
for i in range(5):
    for _ in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [20]:
for i in range(1, 6):
    print('*'*i)

*
**
***
****
*****

In [19]:
for i in range(5):
    for _ in range(i):
        print(' ', end='')
    for _ in range(5-i):
        print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [21]:
for i in range(5):
    print(' '*i, '*'*(5-i), sep='')

*****
 ****
  ***
   **
    *

### Diamond 그리기

In [25]:
for i in range(1, 10):
    print(' '*(10-i), '*'*(2*i-1))
for k in range(9,0,-1):
    print(' '*(10-k), '*'*(2*j-1))

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************

NameError: ignored

In [28]:
for i in range(5):
    for _ in range(4-i):
        print(' ', end='')
    for _ in range(2*i+1):
        print('*', end='')
    print()
for i in range(4):
    for _ in range(i+1):
        print(' ', end='')
    for _ in range(7-2*i):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [30]:
for i in range(5):
    print(' '*(4-i), '*'*(2*i+1))
for i in range(4):
    print(' '*(i+1), '*'*(7-2*i))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *