# Unit 38. 예외 처리

## 38.1 try except

In [1]:
a = [1, 2, 3]
try:
    a[4]
except:
    print('예외 발생')

예외 발생

In [2]:
int(10d)

SyntaxError: ignored

In [3]:
int('10d')

ValueError: ignored

### 특정 예외만 처리하기

In [4]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')

ValueError: ignored

In [6]:
try:
    int('10d')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
except IndexError:
    print('Index Error 발생')
except ValueError:
    print('Value Error 발생')

Value Error 발생

### 예외의 에러 메세지 받아오기

In [7]:
try:
    int('10d')
except Exception as e:      # alias: Exception을 e로 명명
    print(e)                # Exception 객체의 __str__() method

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [8]:
try:
    x = int(input('나눌 숫자 입력> '))
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)

나눌 숫자 입력> 2
5.0

In [9]:
# 예외와 상관없이 항상 실행
try:
    x = int(input('나눌 숫자 입력> '))
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)
finally:
    print('코드 실행 종료')

나눌 숫자 입력> 0
division by zero
코드 실행 종료

## 38.3 예외 발생시키기

In [11]:
import random
try:
    x = random.randint(1, 10)
    if x % 3 != 0:
        raise Exception('3의 배수가 아닙니다.')
    print(x)
except Exception as e:
    print('예외 발생', e)

예외 발생 3의 배수가 아닙니다.

In [12]:
def multiple11(x):
    if x % 11 != 0:
        raise Exception('11의 배수가 아닙니다.')
    print(x)

In [13]:
try:
    multiple11(100)
except Exception as e:
    print('예외 발생 -', e)

예외 발생 - 11의 배수가 아닙니다.

In [ ]:
try:
    for():
        for():
            for():
                if 조건:
                   raise Exception() 
except:

## 38.4 예외 만들기